<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="feed">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Feed</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="uploader">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Uploader</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="map"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagechat">
      <ion-icon name="chat"></ion-icon>
      <ion-label>ChatPage</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>